<div class="restaurant" id="<%= dom_id(restaurant) -%>">
  <div class="name"><%= link_to h(restaurant.name), restaurant %></div>
  <div class="visited_at">
    <% if restaurant.last_visited_at -%>
      <%=h restaurant.last_visited_at.strftime("%b %e, %Y") %>
    <% end -%>
  </div>
  <span class="rating">Rating: <b><%=h restaurant.rating %></b></span>
  <span class="edit"><%= link_to 'Edit', edit_restaurant_path(restaurant) %></span>
</div>
