<% if @map -%>
  <script>
    <%= raw @map.markers.map{|m| m.to_js }.join(' ') -%>
    <%= raw @map.center_map_js -%>
    <%= raw @map.center_on_bounds_js -%>
    <%= raw @map.markers_functions_js -%>
    <%= raw @map.markers_icons_js -%>
  </script>
<% end -%>

<h2>Restaurant Matches</h2>
<ol class="results">
  <% @restaurants.each do |restaurant| -%>
    <li>
      <a href="#" class="potential_restaurant">
        <b><%= restaurant['name'] -%></b>
      </a>

      <div class="address">
        <%= restaurant['address1'] -%><br/>
        <%= restaurant['city'] -%>, <%= restaurant['state'] -%>
      </div>

      <input type="hidden" class="name" value="<%= restaurant['name'] -%>">
      <input type="hidden" class="address" value="<%= [restaurant['address1'], restaurant['city'], restaurant['state'], restaurant['zip']].compact.join(", ") -%>">
      <input type="hidden" class="latitude" value="<%= restaurant['latitude'] -%>">
      <input type="hidden" class="longitude" value="<%= restaurant['longitude'] -%>">
    </li>
  <% end -%>
</ol>
