<p>
  <b>Name:</b>
  <%=h @restaurant.name %>
</p>

<p>
  <b>Rating:</b>
  <%=h @restaurant.rating %>
</p>

<p>
  <b>Latitude:</b>
  <%=h @restaurant.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%=h @restaurant.longitude %>
</p>

<p>
  <b>Review:</b>
  <%=h @restaurant.review %>
</p>

<p>
  <b>Last visited at:</b>
  <%=h @restaurant.last_visited_at %>
</p>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
